.nav-item .nav-link.active {
    color: #fff;
}

.nav-link {
    text-align: center;
}

section {
    height: 50vh;
    background-color: #ccc;
    height: 100vh;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

img {
    height: 842px;
    width: 1270px;
    margin: 0 auto;
}

.carousel-item {
    display: flex;
}